* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --secondary-white: #d9d9d9;
    --black: #1e1e1e;
    --secondary-black: #292738;
    --tertiary-black: #363447;
    --quaternary-black: #4a4556;
    --green: #81fbb8;
    --gradient-green: linear-gradient(180deg, #81fbb8 0%, #28c76f 100%);
    --secondary-gradient-green: linear-gradient(
        180deg,
        #90f7ec 0%,
        #32ccbc 100%
    );
    --gradient-purple-orange: linear-gradient(
        121.94deg,
        #df9780 15.98%,
        #a66de9 82.85%
    );
    --gradient-red-yellow: linear-gradient(180deg, #ea5455 0%, #feb692 100%);
    font-size: 62.5%;
    --gradient-purple: linear-gradient(
        121.94deg,
        #ce9ffc 15.98%,
        #7367f0 82.85%
    );
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}

.grid {
    display: grid;
}

.text-center {
    text-align: center;
}

.box {
    padding: 2.9rem 4.8rem;
    background: var(--tertiary-black);
    box-shadow: 0.3rem 0.4rem 2.6rem rgba(0, 0, 0, 0.25);
    border-radius: 1.6rem;
    color: var(--white);
    line-height: 160%;
}

#app {
    background: var(--secondary-black);
    grid-template-columns: 29.6rem max-content max-content;
    grid-template-rows: max-content;
    column-gap: 3.2rem;
    row-gap: 5.9rem;
    width: fit-content;
    height: fit-content;
    min-height: 100vh;
    min-width: 100vw;
    padding: 11.2rem 12.3rem;
    place-content: center;
}

.box:nth-child(4) {
    grid-column: 1/4;
}

.top {
    font-weight: 600;
    font-size: 2.4rem;
}

.middle {
    display: grid;
    place-content: center;
    position: relative;
}

.middle .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content h3 {
    font-size: 3.4rem;
}

.content p {
    font-weight: 400;
    line-height: 160%;
}

.bottom {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: auto;
    font-weight: 500;
    font-size: 1.4rem;
}

.bottom .item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bottom .item span:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.bottom .item span:nth-child(1)::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    background: var(--quaternary-black);
    border-radius: 999px;
}

.sell .bottom .item:nth-child(2) span:nth-child(1)::before {
    background: var(--gradient-purple);
}

.target .bottom .item:nth-child(2) span:nth-child(1)::before {
    background: var(--gradient-purple-orange);
}

.nps {
    gap: 3.2rem;
}

.nps .middle {
    height: 19.7rem;
    place-content: center;
    justify-items: center;
    gap: 1.6rem;
    color: var(--green);
}

.nps .bottom {
    gap: 1rem;
}

svg {
    --percentage: 0;
    width: 19rem;
    height: 19.7rem;
    transform: rotate(-90deg);
}

svg circle {
    stroke-dasharray: 618;
    stroke-dashoffset: 618;
    stroke-width: 30;
    fill: none;
}

svg circle:nth-child(1) {
    stroke-dashoffset: 0;
}

svg circle:nth-child(2) {
    stroke-dashoffset: calc(618 - (618 * var(--percentage)) / 100);
    stroke-linecap: round;
    animation: progress 1s;
}

@keyframes progress {
    0% {
        stroke-dasharray: 618;
        stroke-dashoffset: 618;
    }
}

.weekly-sell {
    gap: 3.2rem;
}

.weekly-sell .wrapper {
    display: flex;
    gap: 3.2rem;
}

.weekly-sell .left {
    gap: 3.2rem;
}

.weekly-sell .left,
.weekly-sell .right {
    flex: 1;
}

.left .grid {
    gap: 0.8rem;
    font-weight: 500;
    font-size: 2.4rem;
}

.left .grid span {
    font-size: 1.4rem;
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.left .grid span::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
    background: var(--gradient-green);
    display: block;
}

.left .most-sell span::before {
    background: var(--gradient-green);
}

.left .less-sell span::before {
    background: var(--gradient-red-yellow);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.bars {
    display: flex;
    gap: 5.9rem;
    align-items: flex-end;
    position: relative;
}

.bars::before {
    content: '';
    display: block;
    height: 0.3rem;
    width: 100%;
    background: var(--quaternary-black);
    border-radius: 999px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.bar-wrapper {
    display: grid;
    grid-template-rows: 15.9rem 1.6rem;
    justify-items: center;
    gap: 0.5rem;
    z-index: 1;
}

.bar {
    width: 1.5rem;
    height: var(--height);
    background: var(--secondary-gradient-green);
    border-radius: 999px;
    align-self: end;
    animation: up 1.4s;
}

@keyframes up {
    0% {
        height: 0;
    }
}
