* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: #fff;
    --secondary-white: #d9d9d9;
    --black: #1e1e1e;
    --secondary-black: #292738;
    --tertiary-black: #363447;
    --quaternary-black: #4a4556;
    --green: #81fbb8;
    --gradient-green: linear-gradient(180deg, #81fbb8 0%, #28c76f 100%);
    --secondary-gradient-green: linear-gradient(
        180deg,
        #90f7ec 0%,
        #32ccbc 100%
    );
    --gradient-purple-orange: linear-gradient(
        121.94deg,
        #df9780 15.98%,
        #a66de9 82.85%
    );
    --gradient-red-yellow: linear-gradient(180deg, #ea5455 0%, #feb692 100%);
    font-size: 62.5%;
    --gradient-purple: linear-gradient(
        121.94deg,
        #ce9ffc 15.98%,
        #7367f0 82.85%
    );
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}

.grid {
    display: grid;
}

.box {
    padding: 2.9rem 4.8rem;
    background: var(--tertiary-black);
    box-shadow: 0.3rem 0.4rem 2.6rem rgba(0, 0, 0, 0.25);
    border-radius: 1.6rem;
    color: var(--white);
    line-height: 160%;
}

#app {
    background: var(--secondary-black);
    grid-template-columns: 29.6rem max-content max-content;
    grid-template-rows: max-content;
    column-gap: 3.2rem;
    row-gap: 5.9rem;
    width: fit-content;
    height: fit-content;
    min-height: 100vh;
    min-width: 100vw;
    padding: 11.2rem 12.3rem;
    place-content: center;
}

.box:nth-child(4) {
    grid-column: 1/4;
}

.top {
    font-weight: 600;
    font-size: 2.4rem;
    text-align: center;
}

.bottom {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: auto;
    font-weight: 500;
    font-size: 1.4rem;
}

.bottom .item {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.bottom .item span:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.bottom .item span:nth-child(1)::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    background: var(--quaternary-black);
    border-radius: 999px;
}

.sell .bottom .item:nth-child(2) span:nth-child(1)::before {
    background: var(--gradient-purple);
}

.target .bottom .item:nth-child(2) span:nth-child(1)::before {
    background: var(--gradient-purple-orange);
}

.nps {
    gap: 3.2rem;
}

.nps .middle {
    height: 19.7rem;
    place-content: center;
    justify-items: center;
    gap: 1.6rem;
    color: var(--green);
}

.nps .bottom {
    gap: 1rem;
}
